<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Spotify XML</title>
    </head>
<body>
    <h1>Mis Canciones</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Título</th>
                <th>Artista</th>
                <th>Álbum</th>
                <th>Género</th>
                <th>Duración</th>
            </tr>
        </thead>
        <tbody id="tabla-canciones-body">
            </tbody>
    </table>

    <script src="/static/script.js"></script>
</body>
</html>