<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Spotify XML</title>
    </head>
<body>
    <h1>Mis Canciones</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Título</th>
                <th>Artista</th>
                <th>Álbum</th>
                <th>Género</th>
                <th>Duración</th>
            </tr>
        </thead>
        <tbody id="tabla-canciones-body">
            </tbody>
    </table>
<h2>Añadir Nueva Canción</h2>
    <form id="form-anadir-cancion">
        <input type="text" id="titulo" placeholder="Título" required>
        <input type="text" id="artista_nombre" placeholder="Nombre del Artista" required>
        <input type="text" id="album_titulo" placeholder="Título del Álbum" required>
        <input type="text" id="genero" placeholder="Género" required>
        <input type="text" id="duracion" placeholder="Duración (ej. 4:15)" required>
        <button type="submit">Guardar Canción</button>
    </form>
    <hr>
    <script src="/static/script.js"></script>
</body>
</html>